/* global */
body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

/* region header */
.region-header {
  padding: 20px;
  color: #ffffff;
  background: linear-gradient(56deg, #225476, #ec1010);
  background-size: 400% 400%;

  -webkit-animation: headerBgAnimation 30s ease infinite;
  -moz-animation: headerBgAnimation 30s ease infinite;
  animation: headerBgAnimation 30s ease infinite;
}

@-webkit-keyframes headerBgAnimation {
  0%{background-position:0% 83%}
  50%{background-position:100% 18%}
  100%{background-position:0% 83%}
}
@-moz-keyframes headerBgAnimation {
  0%{background-position:0% 83%}
  50%{background-position:100% 18%}
  100%{background-position:0% 83%}
}
@keyframes headerBgAnimation {
  0%{background-position:0% 83%}
  50%{background-position:100% 18%}
  100%{background-position:0% 83%}
}

.simple-logo {
  align-items: center;
  display: inline-flex;
}

.simple-logo__text {
  font-size: 30px;
  line-height: 1;
  margin-left: 20px;
  text-transform: uppercase;
}

/* region-content */
.region-content {
  padding: 50px 0;
}

.h1 {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.h2 {
  margin-bottom: 10px;
  margin-top: 30px;
}

.h3 {
}

.simple-paragraph {
  font-size: 20px;
  line-height: 27px;
}

/* region footer */
.region-footer {
  background-color: #e3e3e3;
  padding: 30px;
}
